*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.site_head {
  display: flex;
  background-color: #fff;
  box-shadow: 0px 10px 10px #ccc;
  padding: 20px 30px;
  align-items: center;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

.hamburgar {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  margin-left: auto;
  background-color: #fff;
  border: 0;
  box-shadow: 0 0 5px #ccc;
}

.hamburgar_bar {
  display: block;
  width: 80%;
  height: 4px;
  background-color: #000;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburgar_bar:nth-child(1) {
  top: calc(50% - 8px);
}

.hamburgar_bar:nth-child(2) {
  top: 50%;
}

.hamburgar_bar:nth-child(3) {
  top: calc(50% + 8px);
}

.menu {
  margin-left: auto;
}

.menu_list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu_list a {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .hamburgar {
    display: block;
  }
  
  .menu {
    background-color: #fff;
    position: fixed;
    top: 76px;
    right: 0;
    padding: 10px;
    box-shadow: 0 0 10px #ccc;
  }

  .menu_list {
    flex-direction: column;
    gap: 10px;
  }

}